html[loaded_ubnight=false]{
    background-color: rgb(0, 0, 0);
}

#darkScreen_ubnight{
    background-color: #000000;
    z-index: 1000000000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
}
